.login_form{
    line-height: 40px;
    padding: 20px;
    border: 5px solid white;
}

.login_form button{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    text-align: center;
}

.login_form button:hover{
    background-color: rgb(152, 248, 235);
   box-shadow: 0 3px #666;
   transform: translateY(4px);
}

.red{
    color: red;
    font-size: 30px;
}