.income_detail{
    text-align: left;
    height : 100%;
    margin: 10px auto;
    padding: 5px;
    max-width: 600px;
    line-height: 50px
}

.income_back{
    text-align: left;
}

.income_detail_list{
    list-style: none;
    margin: 0;
    padding: 20px;
    border: 4px solid white;
    color: white;
    font-weight: bold;
}
