.income_page{
    text-align: center;
    height : 100%;
    margin: 10px auto;
    padding: 5px;
    max-width: 600px;
}

.income_page h2{
    color: white;
    font-style : inherit;
    font-size: 2em;
}

.income_page button{
    display: inline-block;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    text-align: center;
}

.income_page button:hover{
    background-color: #999;
   box-shadow: 0 3px #666;
   transform: translateY(4px);
}

.income_list{
    list-style: none;
    margin: 0;
    padding: 0;
}

