html{
   background: linear-gradient(45deg, rgb(118, 245, 196), rgb(77, 204, 255));
}


.app{
   width: 100%;
   max-height : 100vh;
   padding-top : 20px;
   padding-bottom: 20px;
   align-items: center;
}

.app_header{
   width : 100%;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.app_header h1{
   font-size: 4em;
   font-weight: bold;
}

.app_header h1 a{
   color: white;
   text-decoration: none;
}

.app_main {
   height: calc(100vh - 70px);
   margin-top : 10px;
   padding-bottom: 40px;
}

/*------------------------------------------------*/