
.app{
   background: linear-gradient(45deg, rgb(118, 245, 196), rgb(77, 204, 255));
   position: relative;
   width: 100%;
   max-height : 100vh;
   padding-top : 20px;
   padding-bottom: 20px;
   align-items: center;
}

.app_header{
   position: relative;
   width : 100%;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.app_header h1{
   font-size: 4em;
   font-weight: bold;
}

.app_header h1 a{
   color: white;
   text-decoration: none;
}

.app_main {
   height: calc(100vh - 70px);
   overflow: auto;
   margin-top : 10px;
   padding-bottom: 40px;
}

/*------------------------------------------------*/

.report-main{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;   
   
  } 

.report-main .select-report{
   flex: 1;
   position: relative;
   max-width: 600px;
}

.report-main .results{
   flex: 3;
   max-width: 800px;
   margin-top: 50px;
   margin-right: 30px;
   justify-content: center;
}

.report-main .results ul{
   background: white;
}

.report-main .results ul li{
   margin-top: 20px;
   margin-left: 10px;
}

.report-main .results ul li h3{
   color: rgb(26, 187, 147);
   font-size: 30px;
}

.report-main .results ul li h5{
   color: rgb(172, 172, 172);
   font-size: 20px;
   margin-top: 30px;
}

.report-main .results ul li .report-income-detail{
   border: 1px solid black;
   background: rgb(240, 240, 240);
  }

.report-main .results ul li .report-spending-detail{
border: 1px solid black;
background: rgb(240, 240, 240);
}